parameters:
    level: 6
    paths:
        - app
        - config
        - roolith
    excludePaths:
        - vendor
        - app/Core/generator-templates
    treatPhpDocTypesAsCertain: false
includes:
    - phpstan-baseline.neon
