@mixin roolith-admin-base() {
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        font: 14px/1.2 monospace;
        background-color: var(--color-bg);
        color: var(--color-text);
        color-scheme: dark;
    }

    dl {
        margin: .625rem 0;

        dt {
            margin-bottom: .3125rem;
            opacity: 0.5;
        }

        dd {
            margin-bottom: .9375rem;
        }
    }
}
