@mixin roolith-admin-breadcrumb() {
    .breadcrumb {
        margin: 0 0 1.25rem 0;
        display: flex;
        gap: .3125rem;
    }

    .breadcrumb__item {
        &::after {
            content: '/';
            display: inline-block;
            color: var(--color-dimmed-text);
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}
