@mixin roolith-admin-form() {
    ::placeholder {
        font-family: monospace;
    }

    .form__input {
        background-color: var(--color-dark-bg);
        border: .0625rem solid var(--color-border);
        padding: .5rem .75rem;
        color: var(--color-text);
        outline: none;
        width: 100%;
        border-radius: var(--border-radius);
        font-family: monospace;

        &:focus {
            border: .0625rem solid var(--color-link);
        }
    }

    .form__input--radio,
    .form__input--checkbox {
        width: auto;
    }

    .form__label {
        display: block;
        margin-bottom: .3125rem;
        color: var(--color-dimmed-text);
    }

    .form__field {
        margin-bottom: .625rem;
    }

    select {
        font-family: monospace;
    }

    .form__hint {
        color: var(--color-dimmed-text);
        display: block;
        margin-top: .3125rem;
    }

    .form__field--error {
        .form__input {
            border: .0625rem solid var(--color-danger);
        }

        .form__hint {
            color: var(--color-danger);
        }
    }

    .form__button {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    .form__general-error {
        color: var(--color-danger);
    }

    .form__delete {
        padding: 1.25rem 0 0;
    }

    .form--inline {
        display: flex;
        gap: .3125rem;

        .form__input {
            width: auto;
        }
    }

    .form__actions {
        display: flex;
        gap: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .form__field-checkbox-list {
        display: flex;
        flex-direction: column;
        gap: .0313rem;
        max-height: 18.75rem;
        overflow-y: auto;
    }

    .form__list {
        padding: .3125rem 0;
        display: flex;
        flex-direction: column;
        gap: .3125rem;
    }

    .form__list-item {
        display: grid;
        grid-template-columns: 18.75rem 18.75rem auto;
        gap: .3125rem;

        &:first-child {
            .form__list-item-action {
                display: none;
            }
        }
    }

    .form__list-item-action {
        display: flex;
        align-items: center;
    }
}
