@mixin roolith-admin-layout() {
    .layout {
        display: grid;
        grid-template-columns: 12.5rem 1fr;
        padding: 1.25rem;
    }

    .layout__sidebar {
        position: relative;
    }

    .layout__header {
        padding-bottom: 1.25rem;
        display: flex;
        justify-content: space-between;
    }
}
