@mixin roolith-admin-login() {
    .login {
        min-height: 100vh;
        padding: 1.25rem;
    }

    .login__form {
        max-width: 18.75rem;
    }

    .login__title {
        padding-bottom: 1.25rem;
    }
}
