@mixin roolith-admin-message() {
    .message {
        background-color: transparent;
        border: .0625rem solid var(--color-darker-bg);
        padding: .625rem;
        border-radius: var(--border-radius);
        margin:  0 0 1.25rem 0;
    }

    .message--danger {
        border-color: var(--color-danger);
        color: var(--color-danger);
    }

    .message--success {
        border-color: var(--color-success);
        color: var(--color-success);
    }
}
